.title {
    margin-bottom: 12px;

    h1,
    p {
        margin: 0;
    }
}

.subject {
    padding: 12px 12px;
    background: rgba(255, 255, 255, 0.1);
    margin: 4px 0;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;

    .subject-name {
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .subject-grades {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .subject-grade {
            padding: 8px;
            margin: 0 4px;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.2);
            border: 2px solid #08f;

            &.fiv {
                border-color: rgb(255, 0, 0);
            }
            &.fou {
                border-color: rgb(255, 128, 0);
            }
            &.thr {
                border-color: rgb(255, 255, 0);
            }
            &.two {
                border-color: rgb(0, 128, 255);
            }
            &.one {
                border-color: rgb(64, 255, 0);
            }

            &.artif {
                color: #08f;
                border-style: dashed;

                input {
                    color: #08f;
                }
            }

            &.subject-add-grade {
                display: flex;
                align-items: center;
                border: none
            }

            &.subject-average {
                background: #000;
                width: 48px;

                display: flex;
                align-items: center;
                justify-content: center;

                border: none;

                &.fiv {
                    background: rgba(255, 0, 0, .2);
                }
                &.fou {
                    background: rgba(255, 128, 0, .2);
                }
                &.thr {
                    background: rgba(255, 255, 0, .2);
                }
                &.two {
                    background: rgba(0, 128, 255, .2);
                }
                &.one {
                    background: rgba(64, 255, 0, .2);
                }
            }

            .grade-weight input {
                filter: brightness(.75);
            }

            input {
                background: transparent;
                border: none;
                color: #fff;
                width: 32px;
                text-align: center;

                &.changed {
                    color: #08f
                }
            }
        }
    }
}