<h1>EduTools</h1>

<div class="subject" *ngFor="let subject of subjects">
  <div class="subject-name">{{subject.name}}</div>
  <div class="subject-grades">
    <div class="subject-grade" *ngFor="let grade of subject.grades">
      <div *ngIf="grade.type == 'points'">
        <input [(ngModel)]="grade.reached">/
        <input [(ngModel)]="grade.total">
      </div>
      <div *ngIf="grade.type == 'grade'">
        <input [(ngModel)]="grade.grade">
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>