<div class="title">
    <h1>EduPage Grade Calculator</h1>
    <p>Doing what EduPage can't since 2019</p>
</div>

<div class="subject" *ngFor="let subject of subjects">
    <div class="subject-name">{{subject.name}}</div>

    <div class="subject-grades">
        <div class="grade-wrapper" *ngFor="let grade of subject.grades">
            <div class="subject-grade" [attr.title]="grade.title" [class.artif]="grade.artif" [ngClass]="
                {
                    one: ((grade.type == 'grade') && (grade.grade < 1.5)) || ((grade.type == 'points') && (grade.reached / grade.total >= 0.88)),
                    two: ((grade.type == 'grade') && (grade.grade < 2.5)) || ((grade.type == 'points') && (grade.reached / grade.total >= 0.75)),
                    thr: ((grade.type == 'grade') && (grade.grade < 3.5)) || ((grade.type == 'points') && (grade.reached / grade.total >= 0.60)),
                    fou: ((grade.type == 'grade') && (grade.grade < 4.5)) || ((grade.type == 'points') && (grade.reached / grade.total >= 0.45)),
                    fiv: true
                }
            ">

                <div *ngIf="grade.type == 'points'">
                    <input class="bold" [(ngModel)]="grade.reached" [class.changed]="grade.reached != grade.og.reached"
                        (change)="onInput()">
                    /
                    <input class="bold" [(ngModel)]="grade.total" [class.changed]="grade.total != grade.og.total"
                        (change)="onInput()">
                </div>

                <div *ngIf="grade.type == 'grade'">
                    <input class="bold" [(ngModel)]="grade.grade" [class.changed]="grade.grade != grade.og.grade"
                        (change)="onInput()">
                    <br>
                    <span class="grade-weight">
                        <input [(ngModel)]="grade.weight" [class.changed]="grade.weight != grade.og.weight"
                            (change)="onInput()">
                    </span>
                </div>
            </div>

        </div>

        <div class="subject-grade subject-add-grade" (click)="addGrade(subject.grades)"><i class="fas fa-plus"></i>
        </div>

        <div class="subject-grade subject-average bold" [ngClass]="
            {
                one: ((subject.grades.type == 'grade') && (subject.grades.average < 1.5)) || ((subject.grades.type == 'points') && (subject.grades.average >= 88)),
                two: ((subject.grades.type == 'grade') && (subject.grades.average < 2.5)) || ((subject.grades.type == 'points') && (subject.grades.average >= 75)),
                thr: ((subject.grades.type == 'grade') && (subject.grades.average < 3.5)) || ((subject.grades.type == 'points') && (subject.grades.average >= 60)),
                fou: ((subject.grades.type == 'grade') && (subject.grades.average < 4.5)) || ((subject.grades.type == 'points') && (subject.grades.average >= 45)),
                fiv: true
            }
        ">
            <span *ngIf="subject.grades.type === 'points'">{{subject.grades.average}}%</span>
            <span *ngIf="subject.grades.type === 'grade'">{{subject.grades.average}}</span>
        </div>
    </div>
</div>

<router-outlet></router-outlet>