.subject {
    padding: 12px 12px;
    background: rgba(255,255,255,0.2);
    margin: 4px 0;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;

    .subject-grades {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .subject-grade {
            padding: 8px;
            margin: 0 4px;
            border-radius: 4px;
            background: rgba(0,0,0,0.2);

            &.subject-average {
                background: #08f;
                font-weight: bold;
                text-align: center;
                width: 48px;
            }

            input {
                background: transparent;
                border: none;
                color: #fff;
                width: 32px;
                text-align: center;
            }
        }
    }
}