/* You can add global styles to this file, and also import other style files */

body {
    background: #223;
    color: #fff;
    font-size: 14px;
    min-width: 720px;
}

.bold {
    font-weight: bold;
}