/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
    background: #223;
    color: #fff;
    font-size: 14px;
    min-width: 720px;
    font-family: 'Fira Sans', sans-serif;
}

.bold {
    font-weight: bold;
}